*{
    margin: 0;
    padding: 0;
    color: aliceblue;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: rgb(30, 82, 179);
}

.informacion .menu {
    width: 100%;
    height: 16%;
    background: blue;
}

nav{
    background: black;
    width: 100%;
}

nav:after{
    content: '';
    clear: both;
    display: table;
}

nav ul{
    float: left;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li{
    display: inline-block;
    background: black;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 10px;
    padding: 8px 15px;
}

nav ul li a:hover{
    color: aquamarine;
    border-radius: 15px;
    box-shadow:0 0 5px cyan;
}

nav ul ul{
    position: absolute;
    top: 70px;
    opacity: 0;
    visibility: hidden;
}

nav ul li:hover > ul{
    opacity: 1;
    visibility: visible;
}

nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid black;
}

div img{
    border-radius: 100px;
    margin-top: 200px;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
}