html, body{
	margin: 0%;
	padding: 0%;
	height: 100%;
}
.tabla{
	border-collapse: collapse;
	border: 1px solid #000;
	width:100%;
	height:100%;
}
.tabla td{
	border: 1px solid #000;
	border-collapse: collapse;
}
